$bgcolor: aquamarine;

body {
    background-color: $bgcolor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    h1 {
        font-size: 72px;
        margin: 0;
    }
}
